{% extends 'core/base.html' %}

{% block title %}CONTACTO{% endblock%}

{% block content %}
<h2>Contacto</h2>
<p>
    <strong>Contáctame en:</strong> <a href="mailto:dquiroz3080@utm.edu.ec">dquiroz3080@utm.edu.ec</a><br><br>
    <strong>Número de telefóno:</strong> 0994022579</a><br><br>
    <strong>Correo Personal 1:</strong> <a href="mailto:davequir10@gmail.com">davequir10@gmail.com</a><br><br>
    <strong>Correo Personal 2:</strong> <a href="mailto:davequir10@gmail.com">davequir11@gmail.com</a><br><br>
    <strong>Facebook:</strong> <a href="mailto:daviqquirozcardenas@hotmail.com">daviqquirozcardenas@hotmail.com
    </a>
</p>
{% endblock %}